@charset "UTF-8";

header{
	height:15vh;
	background-color:lightgray;
}

footer{
	height:13vh;
	background-color: black;
	color : white;
	text-align:center;
}
.loginArea{
	position:absolute;
	right:10px;
	top:10px;
}
body{
	margin:0px;
}
